body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: #f9f9ff;
  background-image: linear-gradient(to left, black, rgba(99, 85, 255, 0)) !important;
}

button {
  outline: none;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  font-family: "Plus Jakarta Sans", "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.2px;
  cursor: pointer;
  transition: 0.2s ease;
}
button.secondary {
  background: white;
  border: 1px solid #6355FF;
  color: #6355FF;
}
button.secondary:hover {
  background: rgba(99, 85, 255, 0.1);
}
button.primary {
  background: #6355FF;
  color: white;
}
button.primary:hover {
  background: #5200FF;
}

::-moz-selection {
  background: #6355FF;
  color: white;
}

::selection {
  background: #6355FF;
  color: white;
}

.container {
  padding: 0;
  overflow-y: hidden;
  height: 620px;
  box-shadow: 0 50px 60px rgba(2, 11, 62, 0.15);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.9);
  margin-bottom: 5px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.container:first-child {
  border-radius: 20px 20px 5px 5px !important;
}
.container:last-child {
  border-radius: 5px 5px 20px 20px !important;
}

::-webkit-scrollbar {
  width: 20px;
  background: white;
  padding: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(219, 212, 255);
  border: 5px solid white;
  border-radius: 5px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(198, 189, 246);
}

.grid-stack {
  min-width: 400px;
  flex-grow: 1;
  height: 600px;
  margin: 10px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 0;
  height: calc(100vh - 144px);
  width: calc(100vw - 240px);
  position: fixed;
  top: 44px;
  right: 0px;
  overflow-y: scroll;
}
#main #screen {
  resize: horizontal;
  overflow-x: hidden;
  flex-shrink: 0;
  min-width: 420px;
  max-width: calc(100vw - 400px);
  box-shadow: 0 50px 60px rgba(0, 2, 14, 0.15);
  position: relative;
}
#main #handle {
  width: 10px;
  cursor: ew-resize;
  background-color: #6355FF;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}

#nav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 48px;
  width: calc(100vw - 24px);
  background: white;
  box-shadow: 0 15px 40px rgba(0, 16, 109, 0.1);
  border-top: 4px solid #6355FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}
#nav #mast {
  display: flex;
  align-items: center;
  gap: 8px;
}
#nav #mast img {
  height: 26px;
}
#nav #mast input {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(99, 85, 255, 0.3);
  font-family: "Inter", sans-serif;
  letter-spacing: -0.25px;
  font-size: 15px;
  font-weight: 600;
  width: 250px;
  padding: 6px 8px 4px 8px;
  transition: 0.2s ease;
  border-radius: 3px 3px 0 0;
  background: rgba(99, 85, 255, 0.05);
}
#nav #mast input:hover {
  background: rgba(99, 85, 255, 0.1);
  border-bottom: 1px solid #6355FF;
}

#sidebar {
  position: fixed;
  top: 52px;
  left: 0px;
  height: calc(100vh - 52px);
  width: 270px;
  background: white;
  box-shadow: 0 15px 40px rgba(0, 16, 109, 0.1);
  display: flex;
}
#sidebar #tabs {
  height: 100%;
  width: 50px;
  background: rgba(99, 85, 255, 0.1);
  flex-shrink: 0;
}
#sidebar #content {
  padding: 10px 20px;
}
#sidebar #content h1 {
  font-size: 16px;
  margin-bottom: 30px;
}
#sidebar #buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0px;
}
#sidebar #buttons .add-btn {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}
#sidebar #buttons .add-btn img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid white;
  transition: 0.2s ease;
}
#sidebar #buttons .add-btn p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.2px;
}
#sidebar #buttons .add-btn:hover img {
  transform: scale(1.05);
}

.hover .grid-stack-item-content {
  outline: 1.5px solid rgba(99, 85, 255, 0.9);
  box-shadow: 0 5px 20px rgba(0, 16, 109, 0.1);
}

.grid-stack-item-content {
  background-color: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  border-radius: 6px;
  transition: 0.2s ease;
  outline: 1.5px solid rgba(99, 85, 255, 0);
}
.grid-stack-item-content .item {
  flex: 1;
}
.grid-stack-item-content .item-input {
  padding: 5px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  letter-spacing: -0.1px;
  font-weight: 400;
  letter-spacing: -0.2px;
  border: none;
  background: none;
  background-color: none;
  resize: none;
  overflow-y: hidden;
}
.grid-stack-item-content .item-input.item-title {
  padding: 3px;
  padding-top: 0;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -1.25px;
}
.grid-stack-item-content .item-input:focus {
  outline: none;
}
.grid-stack-item-content .item-img {
  background-size: cover;
  background-position: center center;
}

.grid-stack-placeholder {
  background: none !important;
}/*# sourceMappingURL=styles.css.map */